Repository luispe/go-sdk: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-auth-pkg-job, run-log-pkg-job, run-httprouter-pkg-job, run-service-aws-config-pkg-job, run-service-aws-sqs-pkg-job, run-service-aws-s3-pkg-job

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  ci: pomelo-la/ci@0
  security-check-orb: pomelo-la/security-check-orb@3
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            auth/.* run-auth-pkg-job true
            log/.* run-log-pkg-job true
            httprouter/.* run-httprouter-pkg-job true
            service/aws/config/.* run-service-aws-config-pkg-job true
            service/aws/sqs/.* run-service-aws-sqs-pkg-job true
            service/aws/s3/.* run-service-aws-s3-pkg-job true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

update dependencies aws config pkg
  service/aws/config/go.mod
  service/aws/config/go.sum
Due: run-service-aws-config-pkg-job

update dependencies aws s3 pkg
  service/aws/s3/go.mod
  service/aws/s3/go.sum
Due: run-service-aws-s3-pkg-job

update dependencies aws sqs pkg
  service/aws/sqs/go.mod
  service/aws/sqs/go.sum
Due: run-service-aws-sqs-pkg-job

solve deprecated func telemetry
  telemetry/trace.go
Due: none

improve root README
  README.md
Due: none

update dependencies webapp
  webapp/go.mod
  webapp/go.sum
Due: none

refactor name into webapp pkg from Runtime to Environment
  README.md
  webapp/README.md
  webapp/application.go
  webapp/application_test.go
  webapp/environment.go
  webapp/environment_test.go
Due: none

rename env var to webapp pkg
  webapp/environment.go
  webapp/environment_test.go
Due: none

refactor new telemetry trace and metric
  telemetry/metric.go
  telemetry/metric_test.go
  telemetry/trace.go
  telemetry/trace_test.go
Due: none

add runtime instrumentation to webapp package
  webapp/application.go
  webapp/go.mod
  webapp/go.sum
Due: none

improve status code
  httprouter/bind.go
Due: run-httprouter-pkg-job

add middlewares options configuration
  webapp/application.go
  webapp/application_test.go
Due: none

add options
  httprouter/router.go
Due: run-httprouter-pkg-job

refactor optionsPreflight method
  httprouter/router.go
Due: run-httprouter-pkg-job

Upgrade Pomelo CI orb version
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

revert options handler on default handlers
  httprouter/router.go
Due: run-httprouter-pkg-job

refactor httprouter, simplified code
  httprouter/mid_accept.go
  httprouter/mid_accept_test.go
  httprouter/mid_breaker.go
  httprouter/mid_breaker_test.go
  httprouter/mid_header_forwarding.go
  httprouter/request.go
  httprouter/router.go
  httprouter/router_group.go
  httprouter/router_test.go
Due: run-httprouter-pkg-job

fix inject middleware with config handlers
  httprouter/router.go
  httprouter/router_test.go
Due: run-httprouter-pkg-job

upgrade httprouter and update signatures to call httprouter
  webapp/application.go
  webapp/application_test.go
  webapp/go.mod
  webapp/go.sum
Due: none

add global middlewares
  webapp/application.go
  webapp/application_test.go
Due: none

run gofmt
  webapp/application.go
Due: none

rm premature abstractions, minify code
  telemetry/trace.go
  telemetry/trace_test.go
Due: none

Revert "rm premature abstractions, minify code"
  telemetry/trace.go
  telemetry/trace_test.go
Due: none

rm premature abstractions, minify code
  telemetry/go.mod
  telemetry/go.sum
  telemetry/trace.go
  telemetry/trace_test.go
Due: none

run go mod tidy
  telemetry/go.mod
  telemetry/go.sum
Due: none

simplified code and update telemetry dependency
  webapp/application.go
  webapp/go.mod
  webapp/go.sum
Due: none

add docs
  docs/assets/logo.png
  docs/getting-started.md
  docs/getting-started/clients/index.md
  docs/getting-started/developers/index.md
  docs/index.md
  docs/packages.md
  docs/packages/httprouter/index.md
  docs/packages/httprouter/middleware/index.md
  docs/packages/httprouter/other-features/index.md
  docs/packages/httprouter/routing/index.md
  docs/packages/logger/index.md
  docs/packages/service/aws/config/index.md
  docs/packages/service/aws/s3/index.md
  docs/packages/service/aws/sqs/index.md
  docs/packages/services.md
  docs/packages/telemetry/index.md
  docs/packages/webapp/index.md
  mkdocs.yml
Due: none

some minor improvements
  httprouter/error.go
  httprouter/router.go
  service/aws/sqs/subscriber.go
Due: run-httprouter-pkg-job, run-service-aws-sqs-pkg-job

add run local documentation to makefile
  Makefile
Due: none

update documentation
  docs/packages/httprouter/index.md
Due: none

refactor new router
  httprouter/mid_breaker_test.go
  httprouter/router.go
  httprouter/router_test.go
Due: run-httprouter-pkg-job

update dependencies
  webapp/go.mod
  webapp/go.sum
Due: none

update the creation of httprouter
  webapp/application.go
Due: none

some minor improvements
  Makefile
  docs/packages/httprouter/middleware/index.md
Due: none

Refactor and simplify URL parameter handling in httprouter
  httprouter/request.go
  httprouter/request_test.go
  httprouter/router_test.go
Due: run-httprouter-pkg-job

Remove telemetry.go from httprouter package
  httprouter/telemetry.go
Due: run-httprouter-pkg-job

Add dark mode toggle and update documentation
  docs/packages/httprouter/index.md
  docs/packages/webapp/index.md
  mkdocs.yml
Due: none

revert delete file
  httprouter/telemetry.go
Due: run-httprouter-pkg-job

Refactor error notification in web app
  webapp/application.go
Due: none
