Repository luispe/go-sdk: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-auth-pkg-job, run-log-pkg-job, run-httprouter-pkg-job, run-service-aws-config-pkg-job, run-service-aws-sqs-pkg-job, run-service-aws-s3-pkg-job

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  ci: pomelo-la/ci@0
  security-check-orb: pomelo-la/security-check-orb@3
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            auth/.* run-auth-pkg-job true
            log/.* run-log-pkg-job true
            httprouter/.* run-httprouter-pkg-job true
            service/aws/config/.* run-service-aws-config-pkg-job true
            service/aws/sqs/.* run-service-aws-sqs-pkg-job true
            service/aws/s3/.* run-service-aws-s3-pkg-job true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Add health check routes to middleware ignore list
  webapp/application.go
Due: none

update docs
  docs/getting-started.md
  docs/getting-started/clients/index.md
  docs/getting-started/developers/index.md
  docs/index.md
  docs/packages/httprouter/index.md
  docs/packages/httprouter/middleware/index.md
  docs/packages/service/aws/config/index.md
  docs/packages/service/aws/sqs/index.md
  docs/packages/webapp/index.md
  mkdocs.yml
Due: none

Upgrade dependencies 15-02-2024
  auth/go.mod
  auth/go.sum
  httprouter/go.mod
  httprouter/go.sum
  logger/go.mod
  logger/go.sum
  service/aws/config/go.mod
  service/aws/config/go.sum
  service/aws/s3/go.mod
  service/aws/s3/go.sum
  service/aws/sqs/go.mod
  service/aws/sqs/go.sum
  telemetry/go.mod
  telemetry/go.sum
  webapp/go.mod
  webapp/go.sum
Due: run-auth-pkg-job, run-httprouter-pkg-job, run-service-aws-config-pkg-job, run-service-aws-sqs-pkg-job, run-service-aws-s3-pkg-job

resolve lint errors
  auth/decode.go
  logger/logger.go
  service/aws/config/clientv2.go
  webapp/application.go
Due: run-auth-pkg-job, run-service-aws-config-pkg-job

add run local documentation and examples
  Makefile
  scripts/docs.sh
Due: none

update README.md
  README.md
Due: none

update documentation
  README.md
  httprouter/README.md
  service/aws/config/README.md
  service/aws/s3/README.md
  service/aws/sqs/README.md
  telemetry/README.md
  webapp/README.md
Due: run-httprouter-pkg-job, run-service-aws-config-pkg-job, run-service-aws-sqs-pkg-job, run-service-aws-s3-pkg-job

update dependencies aws/config
  service/aws/config/go.mod
  service/aws/config/go.sum
Due: run-service-aws-config-pkg-job

update dependencies aws/s3
  service/aws/s3/go.mod
  service/aws/s3/go.sum
Due: run-service-aws-s3-pkg-job

update dependencies aws/sqs
  service/aws/sqs/go.mod
  service/aws/sqs/go.sum
Due: run-service-aws-sqs-pkg-job

update dependencies telemetry
  telemetry/go.mod
  telemetry/go.sum
Due: none

update go version logger
  logger/go.mod
Due: none

update go version telemetry
  telemetry/go.mod
Due: none

update go version aws/config
  service/aws/config/go.mod
  service/aws/config/go.sum
Due: run-service-aws-config-pkg-job

update go version aws/s3
  service/aws/s3/go.mod
  service/aws/s3/go.sum
Due: run-service-aws-s3-pkg-job

update go version aws/sqs
  service/aws/sqs/go.mod
  service/aws/sqs/go.sum
Due: run-service-aws-sqs-pkg-job

update go version & dependencies httprouter
  httprouter/go.mod
  httprouter/go.sum
Due: run-httprouter-pkg-job

update go version & dependencies auth
  auth/go.mod
Due: run-auth-pkg-job

update go version circleci
  .circleci/continue_config.yml
Due: none

update dependencies & go version webapp
  webapp/go.mod
  webapp/go.sum
Due: none
