Repository luispe/go-sdk: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-auth-pkg-job, run-log-pkg-job, run-httprouter-pkg-job, run-service-aws-config-pkg-job, run-service-aws-sqs-pkg-job, run-service-aws-s3-pkg-job

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  ci: pomelo-la/ci@0
  security-check-orb: pomelo-la/security-check-orb@3
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            auth/.* run-auth-pkg-job true
            log/.* run-log-pkg-job true
            httprouter/.* run-httprouter-pkg-job true
            service/aws/config/.* run-service-aws-config-pkg-job true
            service/aws/sqs/.* run-service-aws-sqs-pkg-job true
            service/aws/s3/.* run-service-aws-s3-pkg-job true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

add download file (#27)
  service/aws/s3/bucket.go
  service/aws/s3/bucket_test.go
  service/aws/s3/uploaderdownloader.go
Due: run-service-aws-s3-pkg-job

add method DeleteObjects to service/aws/s3
  service/aws/s3/bucket.go
  service/aws/s3/bucket_test.go
  service/aws/s3/mocks/delete_download_upload.go
  service/aws/s3/mocks/deleter.go
  service/aws/s3/mocks/download_upload.go
  service/aws/s3/uploaderdownloader.go
Due: run-service-aws-s3-pkg-job

improve README.md
  README.md
Due: none

add pkg httprouter
  httprouter/bind.go
  httprouter/bind_test.go
  httprouter/doc.go
  httprouter/error.go
  httprouter/error_test.go
  httprouter/go.mod
  httprouter/go.sum
  httprouter/request.go
  httprouter/request_test.go
  httprouter/response.go
  httprouter/response_test.go
  httprouter/router.go
  httprouter/router_error.go
  httprouter/router_group.go
  httprouter/router_test.go
  httprouter/telemetry.go
Due: run-httprouter-pkg-job

add runner
  httprouter/runner.go
  httprouter/runner_test.go
Due: run-httprouter-pkg-job

add middleware accept
  httprouter/middleware/accept.go
  httprouter/middleware/accept_test.go
Due: run-httprouter-pkg-job

add middleware circuit breaker
  httprouter/go.mod
  httprouter/go.sum
  httprouter/middleware/mid_breaker.go
  httprouter/middleware/mid_breaker_test.go
  httprouter/runner_test.go
Due: run-httprouter-pkg-job

refactor delete httprouter subpackage
  httprouter/go.mod
  httprouter/go.sum
  httprouter/mid_accept.go
  httprouter/mid_accept_test.go
  httprouter/mid_breaker.go
  httprouter/mid_breaker_test.go
Due: run-httprouter-pkg-job

improve code in runner test
  httprouter/runner_test.go
Due: run-httprouter-pkg-job

refactor timeouts config
  httprouter/runner.go
  httprouter/runner_test.go
Due: run-httprouter-pkg-job

add forwarding middleware
  httprouter/mid_header_forwarding.go
Due: run-httprouter-pkg-job

improve code and write missing godoc
  httprouter/mid_accept.go
  httprouter/mid_breaker.go
Due: run-httprouter-pkg-job

add liveness and readiness probes
  httprouter/router.go
  httprouter/router_test.go
Due: run-httprouter-pkg-job

run gofmt
  httprouter/runner_test.go
Due: run-httprouter-pkg-job

add README for httprouter package
  httprouter/README.md
Due: run-httprouter-pkg-job

Feature telemetry (#34)
  .circleci/config.yml
  .circleci/continue_config.yml
  README.md
  telemetry/README.md
  telemetry/doc.go
  telemetry/go.mod
  telemetry/go.sum
  telemetry/metric.go
  telemetry/metric_test.go
  telemetry/trace.go
  telemetry/trace_test.go
Due: none

Feature logger (#35)
  README.md
  log/go.mod
  logger/doc.go
  logger/event.go
  logger/go.mod
  logger/go.sum
  logger/handler.go
  logger/logger.go
  logger/record.go
  service/aws/config/doc.go
Due: run-log-pkg-job, run-service-aws-config-pkg-job

revert unintencinal change (#36)
  service/aws/config/doc.go
Due: run-service-aws-config-pkg-job

move public func to method (#37)
  telemetry/trace.go
  telemetry/trace_test.go
Due: none

add sanitize path (#38)
  telemetry/trace.go
  telemetry/trace_test.go
Due: none

public funtion httprouter (#39)
  httprouter/router.go
  httprouter/telemetry.go
Due: run-httprouter-pkg-job

add get values from ctx
  telemetry/trace.go
Due: none

add godoc
  telemetry/trace.go
Due: none

add godoc for public function
  telemetry/trace.go
Due: none

add mvp webapp
  webapp/README.md
  webapp/application.go
  webapp/application_test.go
  webapp/doc.go
  webapp/environment.go
  webapp/environment_test.go
  webapp/go.mod
  webapp/go.sum
Due: none

improve reading code
  webapp/README.md
  webapp/application.go
  webapp/environment.go
Due: none

add logger middleware
  webapp/application.go
Due: none

change init logger
  webapp/application.go
  webapp/application_test.go
Due: none

delete case test
  webapp/application_test.go
Due: none

add levelToString public function
  logger/record.go
Due: none

improvements init opts functions
  webapp/application.go
  webapp/application_test.go
  webapp/go.mod
  webapp/go.sum
Due: none

improve trace and metric server
  webapp/application.go
Due: none

delete unused constant
  webapp/application.go
Due: none

shutdown telemetry provider
  webapp/application.go
Due: none

improvements defaults webapp pkg
  webapp/README.md
  webapp/application.go
  webapp/application_test.go
Due: none

improve log shutdown gracefully complete
  webapp/application.go
Due: none

add string to log level
  logger/record.go
Due: none

add log level from env var
  webapp/application.go
  webapp/application_test.go
  webapp/go.mod
  webapp/go.sum
Due: none

update dependencies httprouter pkg
  httprouter/go.mod
  httprouter/go.sum
Due: run-httprouter-pkg-job

update dependencies telemetry pkg
  telemetry/go.mod
  telemetry/go.sum
Due: none
